:root {
  --dusk: #43425d;
  --cool-green: #3bb75e;
  --pale-grey: #f0f0f7;
  --pale-grey-two: #f1f1f3;
  --gunmetal: #4d4f5c;
  --cool-grey: #a3a6b4;
  --warm-grey: #9c9c9c;
  --silver: #cecfd0;
  --dark-sky-blue: #5bc0de;
  --cerulean: #0275d8;
  --faded-orange: #f0ad4e;
  --indigo-blue: #311b92;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #000;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.54;
  color: var(--gunmetal);
}

a {
  color: initial;
  text-decoration: none;
  transition: .3s all ease;
  &:hover{
    color: initial;
    text-decoration: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input{
  outline: none;
  border: none;
}

button{
  outline: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: transparent;
  outline: none;
}

