
.dashboard{
  position: absolute;
  left: 260px;
  right: 0;
  top: 70px;
  bottom: 0;
  background-color: var(--pale-grey);
  &__content{
    margin: auto;
    max-width: 1200px;
    padding: 0 15px 15px;
  }
}
