
.breadcrumb{
  padding: 5px 15px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  & > li+li:before{
    color: #000;
  }
  & >.active{
    color: var(--warm-grey);
    font-family: 'Proxima Nova Rg' ,sans-serif;
    font-size: 14px;
  }
  & > li > a{
    color: #000;
    font-family: 'Proxima Nova Rg' ,sans-serif;
    font-size: 14px;
  }
}

.label{
  font-size: 11px;
  border-radius: 3px;
  font-weight: normal;
  &-potencial{
    background-color: var(--dark-sky-blue);
  }
  &-partner{
    background-color: var(--faded-orange);
  }
  &-contacting{
    background-color: var(--cerulean);
  }
  &-informing{
    background-color: var(--indigo-blue);
  }
}
