
.btn-app-bg{
  background-color: var(--cool-green);
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: normal;
}

.btn-app-border{
  border-color: var(--cool-green);
  padding: 5px 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: var(--cool-green);
  background-color: transparent;
  box-shadow: none;
  .icon-chevron-down{
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
  }
  &:hover,&:active,&:focus{
    border-color: var(--cool-green);
    background-color: var(--cool-green);
    color: #fff;
    box-shadow: none;
  }
}