
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-bell:before {
  content: "\e90d";
}
.icon-home:before {
  content: "\e905";
}
.icon-account-outline:before {
  content: "\e906";
}
.icon-gift:before {
  content: "\e907";
}
.icon-check-circle-outline:before {
  content: "\e908";
}
.icon-lifebuoy:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e90a";
}
.icon-chevron-down:before {
  content: "\e90b";
}
.icon-magnify:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-email-outline:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e900";
}